.textarea {
  background-color: black;
  color: white;
  padding: 2%;
  outline: none;
  border: 0px solid black;
  box-shadow: 0;
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  overflow: hidden;
  height: 200px;
  background-color: black;
  margin-top: 20px;
  resize: both;
  animation: blinkTextCursor 1000ms steps(44) infinite normal; // overflow: auto;
}

.watson, .questions {
  text-align: center;
  font-size: 3vw;
  height: auto;
  line-height: 50px;
  padding-top: 10%;
  button {
    color: white;
    background-color: black;
    font-family: 'brown';
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: lowercase;
    border: 1px solid white;
    border-radius: 25px;
    padding: 0 20px;
  }
 button:hover {
   background-color: white;
   color: black;
   -webkit-transition: background-color 1s;   
  }

button:active {
  background-color: white;
  box-shadow: 0 5px white;
  transform: translateY(4px);
  color: black;
}
}

.line-1 {
  position: relative;
  top: 40%;
  height: 70px;
  width: 20em;
  margin: 0 auto;
  border-right: 1px solid rgba(255, 255, 255, .75);
  font-size: 90%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(0%);
}

.anim-typewriter {
  animation: typewriter 3s steps(44) 1s 1 normal both, blinkTextCursor 1000ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }
  to {
    border-right-color: transparent;
  }
}

.answer {
  padding-top: 0px;
  text-align: center;
  font-size: 1.5vw;
  span{
    text-transform: lowercase;
  }
  button {
    color: white;
    background-color: black;
    font-family: 'brown';
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: lowercase;
    margin-top: 100px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 20px;
  }
  button:hover {
    background-color: white;
    color: black;
    -webkit-transition: color 1s;    

 
   }
 
 button:active {
   background-color: white;
   box-shadow: 0 5px white;
   transform: translateY(4px);
   color: black;
 }
}

.smallAnswer {
  position: absolute;
  bottom: 0;
  left: 30px;
  text-align: left;
  font-size: 10px;
  font-family: 'brown'; 
  line-height: 1vw;
  letter-spacing: 0.5px;
  h6 {
    font-size: 10px;
    font-family: 'brown';
    line-height: 1vw;
    letter-spacing: 0.5px;
  }
}


