.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 183px 183px repeat(10, 1fr);
  grid-template-rows: 80px repeat(7, 1fr);
  grid-template-areas:
  'navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar navbar'
  'content content content content content content content content content content content content'
  'content content content content content content content content content content content content'
  'content content content content content content content content content content content content'
  'content content content content content content content content content content content content'
  'content content content content content content content content content content content content'
  'content content content content content content content content content content content content'
  'content content content content content content content content content content content content';
  height: 100vh;
}

.navbar {
  grid-area: navbar;
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100vw;
}

.home {
  grid-area: content;
  background-color: red;
}

.line-1 {
  position: relative;
  margin: 0 auto;
  border-right: 1px solid rgba(255, 255, 255, .75);
  font-size: 90%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(0%);
}

.anim-typewriter {
  animation: typewriter 3s steps(44) 1s 1 normal both, blinkTextCursor 1000ms steps(44) infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 1000px;
  }

}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }
  to {
    border-right-color: transparent;
  }
}

