@font-face {
  font-family: 'faro_trialdisplay_lucky';
  src: url('../src/assets/fonts/faro-kit/farotrial-displaylucky-webfont.woff2') format('woff2'), url('../src/assets/fonts/faro-kit/farotrial-displaylucky-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'faro_trialdisplay_sad';
  src: url('../src/assets/fonts/faro-kit/farotrial-displaysad-webfont.woff2') format('woff2'), url('../src/assets/fonts/faro-kit/farotrial-displaysad-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bauer_bodoni_bold';
  src: url('../src/assets/fonts/Bauer-kit/BauerBodoni-BlackCond.woff2') format('woff2'), url('../src/assets/fonts/Bauer-kit/BauerBodoni-BlackCond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brown';
  src: url('../src/assets/fonts/brown-kit/brown-regular-webfont.woff2') format('woff2'), url('../src/assets/fonts/brown-kit/brown-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'haas';
  src: url('../src/assets/fonts/haas-kit/NHaasGroteskDSPro-65Md.woff2') format('woff2'), url('../src/assets/fonts/haas-kit/NHaasGroteskDSPro-65Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'harbour_bold';
  src: url('../src/assets/fonts/harbour-kit/harbour-bold-webfont.woff2') format('woff2'), url('../src/assets/fonts/harbour-kit/harbour-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'impact';
  src: url('../src/assets/fonts/Impact-kit/impact-webfont.woff2') format('woff2'), url('../src/assets/fonts/Impact-kit/impact-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unit';
  src: url('../src/assets/fonts/unit-kit/UnitSlabPro-Bold.woff2') format('woff2'), url('../src/assets/fonts/unit-kit/UnitSlabPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'faro_trialdisplay_lucky', Arial, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}

.show-form {
  position: relative;
  z-index: 9;
}

.fullscreen-hidden-form {
  z-index: 8;
  height: 0;
  min-height: 0;
  position: fixed;
  width: 100%;
  background: black;
  border-bottom: 1px solid white;
  overflow: hidden;
  transition: all .3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  flex-direction: column;
  &.form-visible {
    min-height: 100vh;
  }
}

.anger {
  font-family: 'impact';
  background-color: red;
  color: yellow;
  footer {
    font-family: 'impact' !important;
    background-color: red !important;
    color: yellow !important;
  }
  .textarea {
    font-family: 'impact' !important;
    background-color: red !important;
    color: yellow !important;
  }
  button {
    font-family: 'impact' !important;
    background-color: red !important;
    color: yellow !important;
  }
  button:hover {
    background-color: white;
    color: red;
  }
  button:active {
    background-color: white;
    box-shadow: 0 5px white;
    transform: translateY(4px);
    color: red;
  }
  nav {
    font-family: 'impact' !important;
    background-color: red !important;
    color: yellow !important;
    .nav-logo {
      a {
        h1 {
          color: yellow !important;
        }
      }
    }
    .nav-auth {
      a {
        font-family: 'impact' !important;
        color: yellow !important;
      }
    }
  }
}

.fear {
  font-family: 'harbour_bold';
  background-color: black;
  color: white;
  footer {
    font-family: 'harbour_bold' !important;
    background-color: black !important;
    color: white !important;
  }
  .textarea {
    font-family: 'harbour_bold' !important;
    background-color: black !important;
    color: white !important;
  }
  button {
    font-family: 'harbour_bold' !important;
    background-color: black !important;
    color: white !important;
  }
  button:hover {
    background-color: white !important;
    color: black !important;
  }
  button:active {
    background-color: white !important;
    box-shadow: 0 5px white !important;
    transform: translateY(4px) !important;
    color: black !important;
  }
  nav {
    font-family: 'harbour_bold' !important;
    background-color: black !important;
    color: white !important;
    .nav-logo {
      a {
        h1 {
          color: white !important;
        }
      }
    }
    .nav-auth {
      a {
        font-family: 'harbour_bold' !important;
        color: white !important;
      }
    }
  }
}

.joy {
  font-family: 'brown';
  background-color: greenyellow;
  color: blue;
  footer {
    font-family: 'brown' !important;
    background-color: greenyellow !important;
    color: blue !important;
  }
  .textarea {
    font-family: 'brown' !important;
    background-color: greenyellow !important;
    color: blue !important;
  }
  button {
    font-family: 'brown' !important;
    background-color: greenyellow !important;
    color: blue !important;
  }
  button:hover {
    background-color: white !important;
    color: blue !important;
  }
  button:active {
    background-color: white !important;
    box-shadow: 0 5px white !important;
    transform: translateY(4px) !important;
    color: blue;
  }
  nav {
    font-family: 'brown' !important;
    background-color: greenyellow !important;
    color: blue !important;
    .nav-logo {
      a {
        h1 {
          color: blue !important;
        }
      }
    }
    .nav-auth {
      a {
        font-family: 'brown' !important;
        color: blue !important;
      }
    }
  }
}

.analytical {
  font-family: 'unit';
  background-color: darkblue;
  color: white;
  footer {
    font-family: 'unit' !important;
    background-color: darkblue !important;
    color: white !important;
  }
  .textarea {
    font-family: 'unit' !important;
    background-color: darkblue !important;
    color: white !important;
  }
  button {
    font-family: 'unit' !important;
    background-color: darkblue !important;
    color: white !important;
  }
  button:hover {
    background-color: white !important;
    color: darkblue !important;
  }
  button:active {
    background-color: white !important;
    box-shadow: 0 5px white !important;
    transform: translateY(4px) !important;
    color: darkblue;
  }
  nav {
    font-family: 'unit' !important;
    background-color: darkblue !important;
    color: white !important;
    .nav-logo {
      a {
        h1 {
          color: white !important;
        }
      }
    }
    .nav-auth {
      a {
        font-family: 'unit' !important;
        color: white !important;
      }
    }
  }
}

.confident {
  font-family: 'haas';
  background-color: grey;
  color: black;
  footer {
    font-family: 'haas' !important;
    background-color: grey !important;
    color: black !important;
  }
  .textarea {
    font-family: 'haas' !important;
    background-color: grey !important;
    color: black !important;
  }
  button {
    font-family: 'haas' !important;
    background-color: grey !important;
    color: black !important;
  }
  button:hover {
    background-color: white !important;
    color: black !important;
  }
  button:active {
    background-color: white !important;
    box-shadow: 0 5px white !important;
    transform: translateY(4px) !important;
    color: black !important;
  }
  nav {
    font-family: 'haas' !important;
    background-color: grey !important;
    color: black !important;
    .nav-logo {
      a {
        h1 {
          color: black !important;
        }
      }
    }
    .nav-auth {
      a {
        font-family: 'haas' !important;
        color: black !important;
      }
    }
  }
}

.tentative {
  font-family: 'bauer_bodoni_bold';
  background-color: pink;
  color: red;
  footer {
    font-family: 'bauer_bodoni_bold' !important;
    background-color: pink !important;
    color: red !important;
  }
  .textarea {
    font-family: 'bauer_bodoni_bold' !important;
    background-color: pink !important;
    color: red !important;
  }
  button {
    font-family: 'bauer_bodoni_bold' !important;
    background-color: pink !important;
    color: red !important;
  }
  button:hover {
    background-color: red !important;
    color: pink !important;
  }
  button:active {
    background-color: pink !important;
    box-shadow: 0 5px pink !important;
    transform: translateY(4px) !important;
    color: red !important;
  }
  nav {
    font-family: 'bauer_bodoni_bold' !important;
    background-color: pink !important;
    color: red !important;
    .nav-logo {
      a {
        h1 {
          color: red !important;
        }
      }
    }
    .nav-auth {
      a {
        font-family: 'bauer_bodoni_bold' !important;
        color: red !important;
      }
    }
  }
}

.img-wrapper {
  margin: 10px 0;
  img {
    width: 100%;
    height: auto !important;
  }
}

app-singlefont {
  width: 100%;
}
