/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'faro_trialdisplay_lucky';
  src: url('../src/assets/fonts/faro-kit/farotrial-displaylucky-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/faro-kit/farotrial-displaylucky-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'faro_trialdisplay_sad';
  src: url('../src/assets/fonts/faro-kit/farotrial-displaysad-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/faro-kit/farotrial-displaysad-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bauer_bodoni_bold';
  src: url('../src/assets/fonts/Bauer-kit/BauerBodoni-BlackCond.woff2') format('woff2'),
       url('../src/assets/fonts/Bauer-kit/BauerBodoni-BlackCond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brown';
  src: url('../src/assets/fonts/brown-kit/brown-regular-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/brown-kit/brown-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'haas';
  src: url('../src/assets/fonts/haas-kit/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
       url('../src/assets/fonts/haas-kit/NHaasGroteskDSPro-65Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'harbour_bold';
  src: url('../src/assets/fonts/harbour-kit/harbour-bold-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/harbour-kit/harbour-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'impact';
  src: url('../src/assets/fonts/Impact-kit/impact-webfont.woff2') format('woff2'),
       url('../src/assets/fonts/Impact-kit/impact-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'unit';
  src: url('../src/assets/fonts/unit-kit/UnitSlabPro-Bold.woff2') format('woff2'),
       url('../src/assets/fonts/unit-kit/UnitSlabPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'faro_trialdisplay_lucky', Arial, sans-serif;
  margin: 0;
  background-color: black;
  color: white;
}

.show-form {
  position: relative;
  z-index: 9;
}

.fullscreen-hidden-form {
  z-index: 8;
  height: 0;
  min-height: 0;
  position: fixed;
  width: 100%;
  background: black;
  border-bottom: 1px solid white;
  overflow: hidden;
  transition: all .3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  flex-direction: column;
  &.form-visible {
    min-height: 100vh;
  }
}

.red{
  background-color: red;
  color: purple;
}

