<div class='emotion'>
  <div *ngIf='myEmotion==="anger"' contenteditable="true" ngClass="anger" >
    <h1>BOOOOOM!!</h1>
  </div>
  <div *ngIf='myEmotion==="fear"' contenteditable="true" ngClass="fear">
    <h1>DARK</h1>
  </div>
  <div *ngIf='myEmotion=="joy"' contenteditable="true" ngClass="joy">
    <h1 autofoculs>Playful</h1>
  </div>
  <div *ngIf='myEmotion==="analytical"' contenteditable="true" ngClass="analytical">
    <h1>1.000 People</h1>
  </div>
  <div *ngIf='myEmotion==="confident"' contenteditable="true" ngClass="confident">
    <h1>Professional</h1>
  </div>
  <div *ngIf='myEmotion==="tentative"' contenteditable="true" ngClass="tentative">
    <h1>Sensuality
    </h1>
  </div>
</div>

<div *ngIf="font">
  <div class="container font-info">
    <h1>{{font.name}}</h1>  
    <p>{{font.year}}</p>
    <h3>{{font.designer}}</h3>
    <p>{{font.info}}</p>
  </div>
  <div *ngIf="fontUses.data">
    <div class="container">
      <div class="row">
        <div class="col-sm-4" *ngFor="let e of fontUses.data.uses">
          <a [routerLink]="['/font/case/use', e.id]">
            <img src="{{e.thumb}}" alt="" width="350" height="auto">
          </a>
          <h5 class="title"> {{e.name}} </h5>
        </div>
      </div>
    </div>
  </div>
</div>
