.emotion {
  h1 {
    font-size: 100px;
    border-bottom: 1px solid white;
    height: 60vh;
    width: 100%;
    color: white;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center; 
    padding-top: 0%;    
  }
}

.anger{
  font-family: 'impact';
  background-color: red;
  h1{
    font-size: 20vw;
    color: yellow;
    letter-spacing: -9px;
  }
  .footer{
    background-color: red;
  }
}

.fear{
  font-family: 'harbour_bold';
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 18vw;
    color: white;
  }
}

.joy{
  font-family: 'brown';
  background-color: greenyellow;
  h1{
    font-size: 20vw;
    color: blue;
    letter-spacing: -9px;
  }
}

.analytical{
  font-family: 'unit';
  background-color: darkblue;
  h1{
    font-size: 15vw;
    color: white;
    letter-spacing: -0.5vw;
  }
}

.confident{
  font-family: 'haas';
  background-color: grey;
  h1{
    font-size: 15vw;
    color: black;
  }
}

.tentative{
  font-family: 'bauer_bodoni_bold';
  background-color: pink;
  h1{
    font-size: 16vw;
    color: red;
  }
}

.font-info{
  padding: 20px 0;
}

.title{
  margin-top:10px;
  margin-bottom: 50px;
}

p{
  width: 70vw;
}

