<div class="form-container">
  <small class="show-form" style="font-size: 15px" id="show-login-btn"> Login </small>
  <form class="fullscreen-hidden-form" id="login-form">
    <div>
      <input class="textarea" type="text" [(ngModel)]="username" name="username" placeholder="User" />
    </div>
    <div>
      <input  class="textarea" type="password" [(ngModel)]="password" name="password" placeholder="Passw" />
    </div>
    <button style="font-size: 15px" (click)="login()"> login </button>
  </form>
</div>
