<footer class="page-footer pt-4 mt-4 footer">

  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <!--First column-->
      <div class="col-md-6">
        <p>Web Development & Graphic Design<br>
          <a href="http://fernando-galende.com/" style="text-decoration: none; color: whitesmoke; line-height: 0"> www.fernando-galende.com </a>
        </p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-6">
        <p>Font in Use<br>Watson IBM</p>
      </div>
      <!--/.Second column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright ">
    © 2018 Copyright
  </div>
  <!--/.Copyright-->

</footer>
