<!-- <div *ngIf="!user">
  <my-notlogged-component></my-notlogged-component>
</div>
 -->
<div *ngIf="user&&questions">
  <div>
    <form>
      <div class="form-group">
        <label for="info">Tell me some words about your project, your feelings and your expresives intencions.</label>
        <textarea name="info" [(ngModel)]="info" style="width: 100%; height: 100px;"></textarea>
      </div>
      <button type="submit" (click)="getEmotion()">Submit watson</button>
    </form>
  </div>
  <div *ngIf="watsonAnswer">
    <ul>
      <li>
        <p> {{questions[current].question}} </p>
        <button type="submit" (click)="getAnswers(0)">answer A</button>
        <button type="submit" (click)="getAnswers(0.25)">answer B</button>
        <button type="submit" (click)="getAnswers(0.5)">answer C</button>
        <button type="submit" (click)="getAnswers(0.75)">answer D</button>
        <button type="submit" (click)="getAnswers(1)">answer E</button>
      </li>
    </ul>
  </div>

  <div *ngIf="watsonAnswer&&answers">
      <h2>Answer</h2>
      <div>
        <h5>Anger:</h5>
        <p> {{watsonAnswer.anger}}</p>
      </div>
      <div>
          <h5>fear:</h5>
          <p> {{watsonAnswer.fear}} </p>
      </div>
      <div>
          <h5>Joy:</h5>
          <p> {{watsonAnswer.joy}} </p>
      </div>
      <div>
          <h5>Analytical:</h5>
          <p> {{watsonAnswer.analytical}} </p>
      </div>
      <div>
          <h5>Confident:</h5>
          <p> {{watsonAnswer.confident}} </p>
      </div>
      <div>
          <h5>Tentative:</h5>
          <p> {{watsonAnswer.tentative}} </p>
      </div>
    </div>
  <button (click)="logout()">logout</button>
</div>
