<nav>
  <div class="nav-logo">
     <a [routerLink]="['/']">
      <h1>aurelio</h1>
    </a> 
    <div *ngIf="user"></div>
  </div>
  <div *ngIf="user" class="nav-auth">
    <a (click)="logout()" href="/" style="color: white">logout</a>
    <!-- <p>Hi {{user.username}}!!</p>     -->
  </div>
  <div *ngIf="!user" class="nav-auth">
    <div class="nav-auth__login">
      <app-auth-login (loginEvent)="refreshUser()"></app-auth-login>
    </div>
    <div class="nav-auth__signup">
      <app-auth-signup (signupEvent)="refreshUser()"></app-auth-signup>
    </div>
  </div>
</nav>
