nav{
  margin: 0;
  padding:0%;
  height: auto;
  width: 100%; 
  color: white;
  border-bottom: 1px solid white; 
  box-sizing: border-box;
  padding: 1%;
  display: flex;  
  background-color: black;
  align-items: center;

  .nav-logo{
    width: 70%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 40px;
    h1{
      font-size: 80px;
    }
  }
  .nav-auth{
    width:50%;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    a{
      display: flex;
      justify-content: flex-end;    
      width: 100%

    }

        
    .nav-auth__login{
      width: 30%;
    }
    .nav-auth__signup{
      width: 50%;
    }
   .form-container{
     width: 50px;
   }

  }
}
