<div class="form-container">
  <small class="show-form" style="font-size: 15px" id="show-signup-btn">Signup</small>
  <form class="fullscreen-hidden-form" id="signup-form">
    <div>
      <input class="textarea" type="text" [(ngModel)]="username" name="username" placeholder="User"/>
    </div>
    <div>
      <input class="textarea" type="password" [(ngModel)]="password" name="password" placeholder="Password"/>
    </div>
    <!-- <label> What Kind of person are you? </label>
    <input class="textarea" type="text" [(ngModel)]="name" name="name" placeholder="Ironic" /> -->
    <button (click)="signup()"> signup </button>
  </form>
</div>
