.show-login-btn{
  background-color: black;
  color: white;
}
button {
  margin-top: 25px;
  color: white;
  background-color: black;
  font-family: 'brown';
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: lowercase;
  border: 1px solid white;
  border-radius: 25px;
  padding: 20px 20px;
  width: 400px;

}
button:hover {
 background-color: white;
 color: black;
 -webkit-transition: background-color 1s;       

}

button:active {
background-color: white;
box-shadow: 0 5px white;
transform: translateY(4px);
color: black;
}

input:-webkit-autofill, .textarea {
  width: 400px;
  height: 60px;
  padding: 1%;
  background-color: white!important;
  border-radius: 25px;
  color: white;  
  outline: none;
  border: 0px solid black;
  box-shadow: 0;
  text-align: center;
  font-size: 50px;
  overflow: hidden; 
  background-color: black;
  margin-top: 20px;
  -webkit-box-shadow: 255 255 255 black inset;
  -webkit-text-fill-color: black !important;
}
