nav {
  margin: 0;
  padding: 0%;
  height: 115px;
  width: 100%;
  color: white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  background-color: black;
  align-items: center;
  position: fixed;
  z-index: 100;
  .nav-logo {
    width: 70%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
    a {
      text-decoration: none;
      font-size: 80px;
      color: white;  
      
      h1 {
        font-family: 'faro_trialdisplay_sad';
        font-size: 70px;
        color: white

      }
      h1:hover{
        font-family: 'faro_trialdisplay_lucky'; 
         color: red;       
         -webkit-transition: color 10s;
        //  -webkit-transition: font-family .1s ease;     
      }
    }
  }
  .nav-auth {
    width: 50%;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    font-family: 'brown';
    text-transform: lowercase;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    a {
      display: flex;
      justify-content: flex-end;
      width: 100%
    }
    .nav-auth__login {
      width: 30%;
    }
    .nav-auth__signup {
      width: 50%;
    }
    .form-container {
      width: 50px;
    }
  }
}
